.div{
    width: 98dvw;
    height: 97dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div img{
    width: 14rem;
    height: 14rem;
}

.div span{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}