*{
    font-family: 'Nome da Fonte', sans-serif;
}

.title{
    font-size: 28px;
    color: #212121;
    margin-left: 45px;
    margin-top: 37px;
    font-weight: 700;
}

.title2{
    color: #989898;
    font-size: 18px;
    margin-left: 45px;
    font-weight: 600;
    line-height: 28px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20rem;
}


.imgl{
    margin-left: 45px;
    width: 6rem;
    height: 6rem;
    margin-top: 1rem;
    border-radius: 10px;
}