.nav {
  width: 100%;
}

.nav h3 {
  margin-left: 1rem;
}

.div {
  width: 100%;
  height: 97dvh;
}

.main {
  width: 100%;
  height: 75dvh;
  overflow: auto;

}

.gridhead {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gridhead h2 {
  font-size: 14px;
  margin-left: 1rem;
  color: gray;
}

.grid {
  display: grid;
  width: 90dvw;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid brown;
}

.grid span {
    margin-left: 1rem;
}
