.grid {
  display: grid;
  width: 83dvw;
  grid-template-columns: repeat(6, 1fr);

}

.grid span{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 13px;
}

.operacoes{
    gap: 1rem;
    margin-left: 2rem;
}

.img2{
    cursor: pointer;
margin-left: 20px;
}
.img1{
    cursor: pointer;
}